<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Яйца</title>
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<!-- Здесь пишем код -->
	<div class="navbar fll">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="index.html" class="navbar-nav-link fll active">Просмотр</a>
					<a href="" class="navbar-nav-link fll">Гадание</a>
					<a href="quotation.html" class="navbar-nav-link fll">Цитаты</a>
					<a href="" class="navbar-nav-link fll">Гороскоп</a>
					<a href="" class="navbar-nav-link fll">Ин-яз</a>
					<a href="" class="navbar-nav-link fll">Магазин</a>
					<a href="" class="navbar-nav-link fll">Переменные</a>
					<a href="" class="navbar-nav-link fll">Настройки</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-body">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="main-page-block-content page-block main-desc">
								<div class="main-page-block-content-header">
									Форма
								</div>
								<div class="main-page-block-content-desc">
									<form>
										<div class="form-group">
											<label class="formlabel" for="">Extra large input</label>
											<input  class="input-xl" type="text" id="" placeholder="Placeholder text">
										</div>
										<div class="form-group">
											<label class="formlabel" for="">Large input</label>
											<input type="text" class="input-l" id="" placeholder="Placeholder text">
										</div>
										<div class="form-group">
											<label class="formlabel" for="">Medium input</label>
											<input type="text" class="input-m" id="" placeholder="Placeholder text">
										</div>
										<div class="form-group">
											<label class="formlabel" for="">Small input</label>
											<input type="text" class="input-s" id="" placeholder="Placeholder text">
										</div>
										<div class="form-group">
											<button type="submit" class="btn form-btn">Submit</button>
										</div>										
									</form>
								</div>
							</div>
						</div>						
					</div>
				</div>
	</div>

	<div class="footer-wrap">
		<div class="container footer">
		<div class="row">
			<div class="col-md-12">Eggs 2016</div>
		</div>
		</div>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>